@charset "utf-8";
html, body {
    height: 500px;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%; 
}

#map > div > div:nth-child(1) > div:nth-child(3) {
    box-shadow: inset 0 1px 10px #888888;
}

#banner {   
    display: block;
    margin-top: 75px;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px;
    height:100px;
    /* box-shadow: 0 5px 5px #888888; */
    z-index:1;
    text-align: center;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar {
    /* box-shadow: 0 1px 10px #888888; */
}

#infoPanel {
	min-height: 500px;
}

/*
#infoPanel p {
	display: inline-block;
	clear:both;
   	float:left;
}
*/

.unslider-nav{
	display:none;
}